.page {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-lg);
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-lg);
  flex-wrap: wrap;
}

.loaderWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 240px;
}
